#header{
	background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
	width: auto;
	background-size: cover;
	padding: 5rem 6rem;
}
#head{
	font-family: "times new roman";
	text-align: center;
	color: #A4D9F8;
	font-size: 100px;
	margin: auto;
}

.container{
	margin: auto;
	text-align: center;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
	border-top: skyblue solid 2px;
	border-bottom: skyblue solid 2px;
	text-decoration: none;
	color: #159957;
	font-size: 30px;
	transition: font-size 0.5s;
}
a:hover{
	font-size:40px;
}

div.contain{
	box-sizing: border-box;
	width: 60%;
	float: left;
}
.tag{
	box-sizing: border-box;
	padding-top: 150px;
	width: 20%;
	float: left;
}

.Info{
	box-sizing: border-box;
	width: 20%;
	float: right;
}

img{
	float: right;
}

.blog{
	box-sizing: border-box;
	width: 70%;
	float: left;
}
h1{
	font-size: 60px;
}
#text{
	padding: 10px;
	border-radius: 20px;
	background-color: #f3f6fa;
	text-align: left;
	color: #606c71;
	box-shadow: -6px 6px 5px darkgray;
}
p{
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#footer{
	margin: 50px;
	font-size: 20px;
}